replicaCount: 1

application:
  deployment:
    pod:
      repository: slava1309/hw3
      pullPolicy: Never
      tag: v2
      port: 80
  service:
    type: LoadBalancer
    port: 8000

postgresql:
  enabled: true
  postgresqlUsername: myuser
  postgresqlPassword: passwd
  postgresqlDatabase: myapp
  service:
    port: "5432"

external:
  postgres:
    replicaCount: 1
    image:
      repository: postgres
      tag: latest
    access:
      host: otus-hw03-postgres
      port: "5432"
      user: myuser
      pass: passwd
      db: myapp